{% extends "base.html" %}

{% block content %}
  <h1>Useful Neighbourhood</h1>
  <p>Welcome to platform where neighbours can help, assist and provide services to each other</p>
  <h2>At this moment we have</h2>
  <ul>
    <li><strong>Neighbours:</strong> {{ num_users }}</li>
    <li><strong>Services:</strong> {{ num_services }}</li>
    <li><strong>Requests:</strong> {{ num_requests }}</li>
  </ul>

  <p>You have visited this page
      {{ num_visits }} time{{ num_visits|pluralize }}.
  </p>
    {% if not user.is_authenticated %}
    <p>
    <a href="{% url 'lend_assist:user-create' %}" class="btn btn-primary">
        Create account
    </a>
    </p>
  {% endif %}

{% endblock %}
