{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <h1>
    Neighbours requesting services
    <a href="{% url 'lend_assist:request-create' %}" class="btn btn-primary">
        New Request
    </a>
  </h1>

  <form action="" method="get" class="form-inline">
    {{ search_form|crispy }}
    <input class="btn btn-secondary" type="submit" value="🔍" >
  </form>

  {% if request_list %}
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Interested</th>
        <th>Date</th>
      </tr>

      {% for request in request_list %}
        <tr>
          <td>
              {{ request.id }}
          </td>
          <td>
              <a href="{{ request.get_absolute_url }}">{{ request.name }}</a>
          </td>
          <td>
              {{ request.neighbours.count }}
          </td>
          <td>
              {{ request.date }}
          </td>

      {% endfor %}
    </table>

  {% else %}
      <p>There are no requests in the request.</p>
  {% endif %}
{% endblock %}
