{% extends "base.html" %}

{% block content %}
  <h1>
    Neighbours requesting services
    <a href="{% url 'lend_assist:request-create' %}" class="btn btn-primary">
        New Request
    </a>
  </h1>

  {% if request_list %}
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Date</th>
      </tr>

      {% for request in request_list %}
        <tr>
          <td>
              {{ request.id }}
          </td>
          <td>
              <a href="{{ request.get_absolute_url }}">{{ request.name }}</a>
          </td>
          <td>
              {{ request.description }}
          </td>
          <td>
              {{ request.date }}
          </td>

      {% endfor %}
    </table>

  {% else %}
      <p>There are no requests in the request.</p>
  {% endif %}
{% endblock %}
