{% extends "base.html" %}

{% block content %}
  <h1>
    Request detail
  </h1>

  <p><strong>Name:</strong> {{ request.name }}</p>
  <p><strong>Description:</strong> {{ request.description }}</p>
  <p><strong>Date of creation:</strong> {{ request.date }}</p>
  <p>
      <a href="{% url 'lend_assist:request-neighbour-add' req_pk=request.id %}">
        Join this request
      </a>
  </p>

  <div class="ml-3">
    <h4>Neighbours joined this request</h4>

    {% for neighbour in request.neighbours.all %}
        <hr>
        <p><strong>Username:</strong> {{ neighbour.username }}</p>
        <p><strong>Address:</strong> {{ neighbour.address }}</p>
        <p><strong>phone:</strong> {{ neighbour.phone }}</p>

    {% empty %}
      <p>Only one neighbour requested!</p>
    {% endfor %}

  </div>
{% endblock %}
