{% extends "base.html" %}

{% block content %}
  <h1>
    Services in your neighbourhood
    <a href="{% url 'lend_assist:service-create' %}" class="btn btn-primary">
        Create service
    </a>
  </h1>

  {% if service_list %}
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Service Name</th>
        <th>Amount of providers</th>
      </tr>

      {% for service in service_list %}
        <tr>
          <td>
              {{ service.id }}
          </td>
          <td>
              <a href="{{ service.get_absolute_url }}">{{ service.name }}</a>
          </td>
          <td>
              {{ service.neighbours }}
          </td>
      {% endfor %}
    </table>

  {% else %}
      <p>There are no services in the service.</p>
  {% endif %}
  <p>If you did not find suitable service describe your wishes in request form</p>
  <p>
    <a href="{% url 'lend_assist:request-create' %}" class="btn btn-primary">
        Create request
    </a>
  </p>
{% endblock %}
