{% extends "base.html" %}

{% block content %}
  <h1>
    Service List
    <a href="{% url 'lend_assist:service-create' %}" class="btn btn-primary link-to-page">
      Create service
    </a>

  </h1>

  {% if service_list %}
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
      </tr>

      {% for service in service_list %}
        <tr>
          <td>
              {{ service.id }}
          </td>
          <td>
              <a href="{{ service.get_absolute_url }}">{{ service.name }}</a>
          </td>
          <td>
              {{ service.description }}
          </td>
          <td>
              {{ service.price }}
          </td>

      {% endfor %}
    </table>

  {% else %}
      <p>There are no services in the service.</p>
  {% endif %}
{% endblock %}
