{% extends "base.html" %}

{% block content %}
  <h1>
    Services category: {{ service.category }}
  </h1>

  <p><strong>Name:</strong> {{ service.name }}</p>
  <p><strong>Description:</strong> {{ service.description }}</p>
  <p>
    <a href="{% url 'lend_assist:service-neighbour-add' serv_pk=service.id %}">
      Provide this service
    </a>
  </p>
  <div class="ml-3">
    <h4>Service providers</h4>

    {% for neighbour in service.neighbours.all %}
        <hr>
        <p><strong>Username:</strong> {{ neighbour.username }}</p>
        <p><strong>Address:</strong> {{ neighbour.address }}</p>
        <p><strong>phone:</strong> {{ neighbour.phone }}</p>

    {% empty %}
      <p>No services!</p>
    {% endfor %}

  </div>
{% endblock %}
