{% extends "base.html" %}

{% block content %}
    <h1>Neighbours list</h1>

    {% if user_list %}
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Username</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Phone</th>
      </tr>
    {% for neighbour in user_list %}
      <tr>
        <td>{{ neighbour.id }}</td>
        <td><a href="{{ user.get_absolute_url }}">{{ neighbour.username }}</a></td>
        <td>{{ neighbour.first_name }}</td>
        <td>{{ neighbour.last_name }}</td>
        <td>{{ neighbour.phone }}</td>
      </tr>
    {% endfor %}

    </table>
    {% else %}
      <p>There are no neighbours in the service.</p>
    {% endif %}

{% endblock %}
