{% extends "base.html" %}

{% block content %}
  <h1>
    username: {{ neighbour.username }}
    <a href="{% url 'lend_assist:user-update' pk=neighbour.id %}" class="btn btn-primary">
        Update profile
    </a>
    <a href="{% url 'lend_assist:user-delete' pk=neighbour.id %}" class="btn btn-primary">
        Delete profile
    </a>
  </h1>

  <p><strong>First name:</strong> {{ neighbour.first_name }}</p>
  <p><strong>Last name:</strong> {{ neighbour.last_name }}</p>
  <p><strong>Address:</strong> {{ neighbour.address }}</p>
  <p><strong>Phone:</strong> {{ neighbour.phone }}</p>

  <div class="ml-3">
    <h4>Services</h4>
    <p>
      <a href="{% url 'lend_assist:service-create' %}" class="btn btn-primary">
          Create service
      </a>
    </p>
    <p>
      <a href="{% url 'lend_assist:request-create' %}" class="btn btn-primary">
          Create request
      </a>
    </p>

    {% for service in neighbour.services.all %}
        <hr>
        <p><strong>Name:</strong> {{ service.name }}</p>
        <p><strong>Category:</strong> {{ service.category.name }}</p>
        <p class="text-muted"><strong>Price:</strong> {{service.price}}</p>

    {% empty %}
      <p>No services!</p>
    {% endfor %}

  </div>
{% endblock %}
